html,body,#root,.App{
  margin: 0px;
  height: 100%;
  width: 100%;
}

body, .App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerBar{
  height: 100px;  
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.content, main {  
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.footerBar {
  height: 200px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

nav{
  margin: 20px 0px;
  font-weight: bold;
  text-align: center;
}

.pic{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poi-item .fulldesc{
  max-width: 80%;
  text-align: center;
}

.footerBar, .headerBar{
  background-color: royalblue;
  color:goldenrod;
  border: 3px solid salmon;
}

